/* CARD  */

.pokemon-card {
  width: 400px;
  height: 600px;
  background: wheat;
  border: 3px solid #000;
  border-radius: 20px;
  padding: 24px;
  /* margin-left: -1px; */
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.18),
    0 6px 10px rgba(0, 0, 0, 0.12);

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pokemon-card:hover {
  transform: translateY(-10px);
  box-shadow:
    0 18px 45px rgba(0, 0, 0, 0.25),
    0 10px 20px rgba(0, 0, 0, 0.18);
}

/*IMAGE */

.pokemon-card figure {
  margin: 0;
  width: 100%;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-card img {
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
}

/* INFO GRID */

.pokemon-info {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
  margin-top: 8px;
  text-align: center;
}

/*  TEXT */

.pokemon-name {
  grid-column: 1 / -1;
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
  background-color: #7d99e6;
  border: 2px solid #1976d2;
  border-radius: 15px;
  padding: 8px;
}

.pokemon-info span {
  padding: 8px;
  font-size: 1.05rem;
  color: #333;
  background-color: hwb(77 65% 7%);
  border: 1.5px solid rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

/* Long text full width */
.pokemon-info span:nth-child(4),
.pokemon-info span:nth-child(5),
.pokemon-info span:nth-child(6) {
  grid-column: 1 / -1;
}

/*  HOVER  */

.pokemon-info span:hover {
  background-color: #ddd7d7;
  border: 2px solid #000;
  transition: 0.25s ease;
}
